.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		253deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(96, 255, 255, 0.68531162464986) 0%,
		rgba(222, 22, 212, 1) 100%,
		rgba(216, 245, 51, 1) 100%,
		rgba(0, 212, 255, 1) 100%
	);
	color: #78909c;
	font-family: 'Rubik', sans-serif;
}
